/* Start AdminLTE.css fixes*/
.box-header > .box-tools {
	left: 5px;
}

.box-header > .box-tools button {
	margin: 0 1px;
}

.fullscreen-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99999;
  background-color: #d2d6de;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* End AdminLTE.css fixes*/



/* Start of Smart Table Styles */
.st-sort-ascent:before{
	content: '\25B2';
}

.st-sort-descent:before{
	content: '\25BC';
}

/* End of Smart Table styles*/