
<div class="row">
  <div class="col-md-6">
      <!-- general form elements disabled -->
      <div class="box box-warning">
        <div class="box-header">
          <h3 class="box-title">Editing {{tableName}} record {{recordId}}</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
          <form role="form">
            <!-- text input -->
            <div class="form-group">
              <label>Text</label>
              <input type="text" class="form-control" placeholder="Enter ..."/>
            </div>
            <div class="form-group">
              <label>Text Disabled</label>
              <input type="text" class="form-control" placeholder="Enter ..." disabled/>
            </div>

            <!-- textarea -->
            <div class="form-group">
              <label>Textarea</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>
            <div class="form-group">
              <label>Textarea Disabled</label>
              <textarea class="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
            </div>

            <!-- input states -->
            <div class="form-group has-success">
              <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label>
              <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ..."/>
            </div>
            <div class="form-group has-warning">
              <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with warning</label>
              <input type="text" class="form-control" id="inputWarning" placeholder="Enter ..."/>
            </div>
            <div class="form-group has-error">
              <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with error</label>
              <input type="text" class="form-control" id="inputError" placeholder="Enter ..."/>
            </div>

            <!-- checkbox -->
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox"/>
                  Checkbox 1
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"/>
                  Checkbox 2
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox" disabled/>
                  Checkbox disabled
                </label>
              </div>
            </div>

            <!-- radio -->
            <div class="form-group">
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                  Option one is this and that&mdash;be sure to include why it's great
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                  Option two can be something else and selecting it will deselect option one
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled/>
                  Option three is disabled
                </label>
              </div>
            </div>

            <!-- select -->
            <div class="form-group">
              <label>Select</label>
              <select class="form-control">
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>
            <div class="form-group">
              <label>Select Disabled</label>
              <select class="form-control" disabled>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>

            <!-- Select multiple-->
            <div class="form-group">
              <label>Select Multiple</label>
              <select multiple class="form-control">
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>
            <div class="form-group">
              <label>Select Multiple Disabled</label>
              <select multiple class="form-control" disabled>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>

          </form>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!--/.col (right) -->
  <div class="col-md-6">

    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">Input masks</h3>
      </div>
      <div class="box-body">
        <!-- Date dd/mm/yyyy -->
        <div class="form-group">
          <label>Date masks:</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask/>
          </div><!-- /.input group -->
        </div><!-- /.form group -->

        <!-- Date mm/dd/yyyy -->
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'mm/dd/yyyy'" data-mask/>
          </div><!-- /.input group -->
        </div><!-- /.form group -->

        <!-- phone mask -->
        <div class="form-group">
          <label>US phone mask:</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-phone"></i>
            </div>
            <input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask/>
          </div><!-- /.input group -->
        </div><!-- /.form group -->

        <!-- phone mask -->
        <div class="form-group">
          <label>Intl US phone mask:</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-phone"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask/>
          </div><!-- /.input group -->
        </div><!-- /.form group -->

        <!-- IP mask -->
        <div class="form-group">
          <label>IP mask:</label>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-laptop"></i>
            </div>
            <input type="text" class="form-control" data-inputmask="'alias': 'ip'" data-mask/>
          </div><!-- /.input group -->
        </div><!-- /.form group -->

      </div><!-- /.box-body -->
    </div><!-- /.box -->


  </div><!-- /.col (left) -->
  <div class="col-md-6">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Date picker</h3>
      </div>
      <div class="box-body">
        <!-- Date range -->
        <div class="form-group">
          <label>Date range:</label>
          <div class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open($event)"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </div><!-- /.input group -->
        </div><!-- /.form group -->

      </div><!-- /.box-body -->
    </div><!-- /.box -->

  </div><!-- /.col (right) -->
</div><!-- /.row -->
